.news{
    background: linear-gradient(
    0deg,
    rgb(20, 20, 20) 30%,
    rgba(202, 75, 75, 1) 100%
  ); 
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsDiv{
    background-color: aliceblue; height: 500px;
    width: 800px;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.newsIMG{
    width: 200px;
}